/*StyleReset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
a{
    text-decoration: none;
}
/*Logo*/
.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.logo-part-1{
    font-family: 'Mina';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
    color: var(--dark-blue);
}
.logo-part-2{
    font-family: 'Fasthand';
    text-transform: capitalize;
    font-weight: 100;
    font-size: 2.5rem;
    color: red;
    line-height: 0.3;
}
.content{
    margin-top: 12vh;
}
html {
    scroll-behavior: smooth; 
}
/*colors*/
:root {
    --gray:#e7eaf6;
    --dark-gray:#d1d0d0;
    --blue: #38598b; 
    --dark-blue:#113f67;
  }
/*Responsive*/
@media only screen and (max-width: 768px) {
    .logo-part-1{
        font-size: 1.3rem;
        line-height: 0.9;
    }
    .logo-part-2{
        font-size: 2rem;
    }
}

