/*StyleReset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}
a{
    text-decoration: none;
}
/*Logo*/
.logo{
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.logo-part-1{
    font-family: 'Mina';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5rem;
}
.logo-part-2{
    font-family: 'Fasthand';
    text-transform: capitalize;
    font-weight: 100;
    font-size: 3rem;
    line-height: 0.4;
    color: red;
}
/*colors*/
:root {
    --gray:#e7eaf6;
    --dark-gray:#a2a8d3;
    --blue: #38598b; 
    --dark-blue:#113f67;
  }
/*Responsive*/
@media only screen and (max-width: 768px) {
    .logo-part-1{
        font-size: 1.3rem;
        line-height: 0.9;
    }
    .logo-part-2{
        font-size: 2rem;
    }
}

