.side-menu{
    height: 100%;
    width: 60%;
    padding: 2% 10%;

    position: fixed;
    top: 0;
    right: -60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--dark-blue);
    transition: right 0.3s ease;

    z-index: 60;
}
.side-menu-active{
    right: 0;
}
.side-menu__link, .side-menu__whatsapp-link{
    display: flex;
    align-items: center;
    gap: 0 10px;

    color: var(--gray);
    font-size: 1.4rem;
}
.side-menu__whatsapp-link{
    color: rgb(37, 211, 102);
}
.close-side-menu-btn{
    display: flex;
    align-items: center;
    gap: 0 10px;

    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--dark-gray);
    font-size: 1.4rem;
}
.whatsapp-btn{
    position: fixed;
    z-index: 60;
    height: 50px;
    width: 50px;
    background-color: rgb(37, 211, 102);
    top: 85%;
    left: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.whatsapp-btn i{
    font-size: 30px;
    color: white;
}
/****************************/
/********Responsive*********/
/****************************/
@media only screen and (max-width: 768px) {
    .whatsapp-btn{
        display: flex;
    }
}
