.side-menu{
    height: 100%;
    width: 60%;
    padding: 2% 10%;

    position: fixed;
    top: 0;
    right: -60%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    background-color: var(--dark-blue);
    transition: right 0.3s ease;

    z-index: 10;
}
.side-menu-active{
    right: 0;
}
.side-menu__link, .side-menu__whatsapp-link{
    display: flex;
    align-items: center;
    gap: 0 10px;

    color: white;
    font-size: 1.2rem;
}
.side-menu__whatsapp-link{
    color: rgb(37, 211, 102);
}
.close-side-menu-btn{
    display: flex;
    align-items: center;
    gap: 0 10px;

    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    color: rgb(186, 0, 0);
}
/****************************/
/********Responsive*********/
/****************************/
@media only screen and (max-width: 768px) {

}
